@import "tailwindcss";

#main-container{
    /* background-color: #f8f8f8; */
    @media (max-width: 580px){
        padding: 25px;
    }
}

*{
    scroll-behavior: smooth;
    font-family: 'kufam';
}

.lightMode{
    color: #2e2e2e;
}

.darkMode{
    color: white;
    border-color: cyan;
}

#Hero-section, #hire-me{
    @media (max-width: 890px){
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 50px;
        padding: 20px;
    }
}

#hello-section{
    @media (max-width: 890px){
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

#aboutMe{
    @media (max-width: 1078px){
        gap: 36px;
    }
}

#skillName{
    @media (max-width: 600px){
        flex-wrap: wrap;
        margin-bottom: 28px;
        gap: 4px;
    }
}

#header{
    @media (max-width: 768px){
        display: flex;
        justify-content: space-between;
    }
}   

#Projects{
    ::-webkit-scrollbar {display: none;}
}